@headerHeight: 50px;

@coverImgUrlWidth: 185px;
@height: 40px;

@indexWidth: 50px;
@editWidth: 50px;

.song-item {
  display: flex;
  width: 100%;
}

.song-item.play-list {
  margin-bottom: 25px;
  padding-top: 5px;
  .index {
    display: table-cell;
    vertical-align: middle;
    width: @indexWidth;
    height: 100%;
    line-height: @height;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - @editWidth - @indexWidth);
    height: 100%;
    font-size: 16px;
    .song-name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: bold;
    }
    .other-info {
      .info {
        color: rgba(255, 255, 255, 0.8);
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .edit {
    width: @editWidth;
    height: 100%;
  }
}

.song-item.new-song {
  padding: 5px 0;
  .pic {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    >img {
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: calc(100% - 60px);
    .song-name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}


.song-item.mini-list {
  .main {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    .song-name {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}