@import '../../style/index.less';
.play {
  padding: 0 5px;
  height: calc(100% - 45px);
  background-color: @style-background-color;
  color: @style-color;
  .play--poster {
    height: 80%;
  }
  .play--progress {
    display: flex;
    align-items: center;
    height: 50px;
    .time {
      width: 35px;
      font-size: 12px;
    }
    .time.left {
      margin-right: 5px;
    }
    .time.right {
      width: 35px;
      text-align: right;
    }
  }
  .play--control {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}