@font-face {
  font-family: "iconfont"; /* Project id 2484621 */
  src: url('//at.alicdn.com/t/font_2484621_kyee77cg8br.woff2?t=1622097451826') format('woff2'),
       url('//at.alicdn.com/t/font_2484621_kyee77cg8br.woff?t=1622097451826') format('woff'),
       url('//at.alicdn.com/t/font_2484621_kyee77cg8br.ttf?t=1622097451826') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconcomment:before {
  content: "\e9b2";
}

.iconlist-v4-full:before {
  content: "\ea38";
}

.iconxihuancopy:before {
  content: "\e609";
}

.iconpause-circle:before {
  content: "\ea8f";
}

.iconprev:before {
  content: "\ea87";
}

.iconnext:before {
  content: "\ea8a";
}

.iconstart:before {
  content: "\ea8e";
}
